
<div class="ng-cloak" ng-init="init()">


	<div class="row col-md-8">

		<form id="new_list" ng-submit="createList(listTitle)" class="ng-pristine">
			<div class="input-group">
				<input autofocus="autofocus" class="form-control input-lg ng-pristine ng-valid" data-non-blank="" id="listTitle" maxlength="255" ng-model="listTitle" placeholder="List name" type="text" required="">
					<span class="input-group-btn"><button class="btn btn-primary btn-lg" type="submit">create list</button></span>
			</div>
		</form>
	</div>

	<br/><br/><br/><br/>
	<ul class="list-group" ng-show="lists == 0">
      <li class="list-group-item">
		 You have not created any list now
	  </li>
	</ul>



	<div class="panel panel-warning">
	  <div class="panel-heading">
	   	<h3 class="ib">Lists</h3>
	   	<h4 class="pull-right ib"><input ng-model="searchText" class="form-control" placeholder="Search Lists"> </h4>
	  </div>
	  <div class="panel-body">
	    <ul class="list-group">
	    	<li ng-repeat="list in lists | filter:searchText" class="list-group-item list"> 
	    		<div class="listtitle" data-toggle="tooltip" data-placement="left" title="click to update">
			    	<editablespan
								  model="list.title"
								  on-ready="listEdited(list)"
								  span-class="info"
								  input-class="form-control input-lg"
								  >
					</editablespan>
				</div>
				<div class="listbutton pull-right">
					<button class="btn btn-danger btn-sm" ng-click = "deleteList(list,$index)">Delete</button>
				</div>
			</li>

	
	    </ul>
	  </div>
	</div>





</div>




